.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #F5A623;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-header img{
  width: 80px;
}

.App-menu{
  position: absolute;
  display: block;
  min-height: 100vh;
  width: 250px;
  background-color: #eee;
  padding: 0;
  margin:0;
  overflow: hidden;
}
.App-menu ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
.App-menu ul li a, .App-menu ul li p{
  display: block;
  color: #000;
  text-align: left;
  height: 40px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  width: 100%;
  text-decoration: none;
}

.App-menu ul li a:hover{
  background-color: #ddd;
}

.mapboxgl-map{
  left: 200px;
}

.mapboxgl-canvas{
  left: 0;
}

/*.App-content{
  position: absolute;
  left: 100px;
  width: 100vw;
}
*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

